*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #548687;
    text-align: center;
    
}

#reset-btn{
    width: 100px;
    height: 30px; 
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
}
#main h1{
    display: flex;
    justify-content: center;
}


.container{
    
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    font-size: 5vw;
    color: red;
    background-color: yellowgreen;
}
#new-btn{
    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 50%; */
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
       
}
#msg{
    /* margin-left: 50%; */
    color: #ffffc7;
    font-size: 8vmin;
       
}
.msg-container {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}
.hide{
    display: none;
}
